<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1 class="text-center">Add Collaborators</h1>
      <form method="POST" action="collaborators/add" class="text-center">
        <table class="table table-striped">
          <tr class="text-center">
            <th>User Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Give Access</th>
          </tr>

            <% possibleCollabs.forEach((user) => { %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.username %></td>
              <td><%= user.email %></td>
              <td class="text-center"><input type="radio" name="userId" value="<%= user.id %>"></td>
            </tr>
            <% }) %>
          </table>

        <input type="submit" value="Share Wiki" class="btn btn-primary text-center">
      </form>
        


    </main>
  </body>
</html>