<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>My wikis</h1>

      <ul class="list-group">

        <% wikis.forEach((wiki) => { %>

          <li class="list-group-item">
            <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
          </li>
        <% }) %>
      </ul>

      <div class="container text-center">
        <a href="/wikis/new" class="btn btn-success">New Wiki</a>
      </div>


    </main>
  </body>
</html>