<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

      <% include ./partials/messages.ejs %>

        <header>
            <h1 class="display-6 text-center" style="margin-top: 20px;">Blocipedia: Social, Markdown Wikis</h1>
        </header>

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4 text-center" >
          <h2 class="display-6 text-center">Create and Share Markdown Wikis</h1>
          <a href="/users/signup" class="btn btn-primary btn-lg">Sign up</a>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-6">
            <h4 class="card-title">Create as many public wikis as you want</h4>
            <p class="card-text">Free Plan</p>
          </section>

          <section class="col-lg-6">
            <h4 class="card-title">Create private wikis</h4>
            <p class="card-text">Premium Plan</p>
          </section>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>